@media only screen and (min-width: 600px) {
  #menumobile {
    display: none;
  }
  #containermobile {
    display: none;
  }

  html,
  body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #172a3a;
    font-family: titillium-web;
  }
  #main {
    background-color: #698996;
    text-align: justify;
    border-radius: 25px;
    padding: 20px;
    margin: 10vh;
    flex: auto;
  }

  #menu-buttons {
    height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #inner1 {
    background-color: #4f656f;
    margin-bottom: 5vh;
    border-radius: 25px;
    padding: 20px;
    height: 15%;
  }
  #nav-bar {
    text-align: center;
    align-items: center;
    display: flex;
  }
  #facebook {
    margin-left: 3vh;
    background-color: #698996;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
  }
  #instagram {
    margin-left: 3vh;
    background-color: #698996;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
  }
  #reddit {
    margin-left: 3vh;
    background-color: #698996;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
  }
  #twitter {
    margin-left: 3vh;
    background-color: #698996;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
  }
  .plat-icon {
    width: 5vh;
  }
  #upload {
    margin-left: 3vh;
    background-color: #698996;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
  }
  #inner2 {
    background-color: #4f656f;
    border-radius: 20px;
    padding: 20px;
    height: 60%;
    text-align: center;
  }
  .bicon {
    width: 7.5vh;
  }
  #upload-text {
    text-align: center;
    background-color: #fdb833;
    height: 5%;
    width: 10%;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    color: #7c3626;
    font-size: 140%;
    font-weight: bold;
  }
  #menu {
    background-color: #698996;
    text-align: justify;
    width: 10vh;
    height: 100%;
    border-right: 0.2vw outset #172a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-empty {
    height: 3vh;
  }

  a {
    text-decoration: none;
    color: #ffff;
  }

  #container {
    display: flex;
    height: 100%;
    weight: 100%;
  }
}
@media only screen and (max-width: 600px) {
  html,
  body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #172a3a;
    font-family: titillium-web;
  }
  #container {
    display: none;
  }
  #container-mobile {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #172a3a;
    font-family: titillium-web;
  }
  #menumobile {
    background-color: #698996;
    width: 100%;
    height: 10%;
    border-bottom: 0.2vw outset #172a3a;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .bicon {
    width: 10vh;
  }
  #logomobile {
    float: right;
    margin-top: 1vh;
    margin-right: 2vw;
  }
  #iconmenu {
    float: left;
    margin-top: 1vh;
    margin-left: 2vw;
    width: 5vw;
  }
  #mainmobile {
    background-color: #698996;
    height: 100%;
    width: 90%;
    border-radius: 25px;
    padding: 20px;
  }
  #interact-area {
    background-color: #4f656f;
    width: 100%;
  }
  #platforms-mobile {
    background-color: #4f656f;
    width: 90%;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    padding: 20px;
  }
  .plat-icon-mobile {
    width: 3.5vh;
    margin: 0 auto;
  }
  #facebook {
    margin-left: 0.5vh;
    background-color: #698996;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
  }
  #instagram {
    margin-left: 0.5vh;
    background-color: #698996;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
  }
  #reddit {
    margin-left: 0.5vh;
    background-color: #698996;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
  }
  #twitter {
    margin-left: 0.5vh;
    background-color: #698996;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
  }
  #upload {
    margin-left: 0.5vh;
    background-color: #698996;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
  }
  #upload-text {
    text-align: center;
    background-color: #fdb833;
    height: 5%;
    width: 15%;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 60%;
    color: #7c3626;
    font-size: 120%;
    font-weight: bold;
  }
  #interact-area {
    background-color: #4f656f;
    border-radius: 20px;
    padding: 20px;
    height: 80%;
    margin-top: 5%;
    width: 90%;
    text-align: center;
  }
}
