@media only screen and (min-width: 950px) {
  html,
  body {
    background-color: #172a3a;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff;
  }

  #container {
    display: flex;
    flex-direction: row;
  }

  #main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
  }

  #title {
    color: #fff;
    font-size: 6vh;
    transform: translateX(5vh);
  }

  #button-container {
    max-height: 15vh;
    width: 94%;
    transform: translateX(5vh);
    padding: 0.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #button-container button {
    background-color: #698996;
    border: 5vh;
    border-radius: 30px;
    min-width: 18%;
    color: #fff;
    font-size: 2.5vh;
    box-shadow: 0.35em 0.35em #10212c;
    cursor: pointer;
  }

  #image-container {
    min-height: 65vh;
    width: 94%;
    transform: translateX(5vh);
    padding: 0.8%;
  }

  #image-container img {
    max-height: 50%;
    max-width: 50%;
    box-shadow: 0.35em 0.35em #10212c;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
  }  
}

@media only screen and (max-width: 950px) {
  html,
  body {
    background-color: #172a3a;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff;
  }

  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
  }

  #main {
    height: 100vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  #title {
    color: #fff;
    font-size: 5vh;
    max-height: 10vh;
    transform: translateY(-3vh)
  }

  #button-container {
    max-height: 12vh;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #button-container button {
    background-color: #698996;
    border: 5vh;
    border-radius: 30px;
    min-width: 18%;
    color: #fff;
    font-size: 65%;
    box-shadow: 0.35em 0.35em #10212c;
    cursor: pointer;
  }

  #image-container {
    min-height: 55vh;
    width: 100%;
    padding: 0.8%;
  }

  #image-container img {
    max-height: 60%;
    max-width: 60%;
    box-shadow: 0.35em 0.35em #10212c;
    border-radius: 10px;
    margin: 0.5rem;
  }  
}

#button-container button:hover {
  color: #7c3626;
  background-color: #fdb833;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
