body {
    background-color: #172a3a;
  }
  .home-main {
    background-color: #4F656F;
    text-align: justify;
    height: 900px;
    width: 1920px;
    border-radius: 25px;
    padding: 20px;
  }
  .menu {
    background-color: #698996;
    text-align: justify;
    height: 940px;
    width: 100px;
  }
  .container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  