body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #172a3a;
  font-family: titillium-web;
  }
  .box {
    background-color: #4F656F;
    text-align: justify;
    align-self: end;
    width: 98%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    flex: auto;
  }
  .getstarted{
    background-color: #FDB833;
    position: absolute;
    border-radius: 25px;
    margin: auto;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    font-family: titillium-web;
    left: 40%;
  }
  .container {
    display: flex;
    height: 100%;
    weight: 100%;
  }
  .home-main{
	flex-direction: column;
	justify-content: left;
  flex: auto;
  font-family: titillium-web;
  }
  #menu-buttons {
    height: 35vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .bicon {
    width: 7.5vh;
  }
  #menu {
    background-color: #698996;
    text-align: justify;
    width: 10vh;
    height: 99vh;
    border-right: 0.2vw outset #172a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .menu-empty {
    height: 3vh;
  }
  .picture-container{
    display: flex;
  }
  .rounded-box{
    background-color: #FDB833;
    position: absolute;
    border-radius: 25px;
    margin: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    top: 58.7%;
    left: 40%;
    z-index: 1;
    font-family: titillium-web;
  }