@media only screen and (min-width: 850px) {
  html,
  body {
    background-color: #172a3a;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff;
  }

  body {
    background-image: url("../media/in-page-images/index-about-gallery.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position-x: 7vh;
  }

  #container {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
  }

  #main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
  }

  #text-container {
    width: 100vw;
    background-color: #172a3a;
    border-top: 0.2vw outset #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(5vh) translateY(32vw);
    z-index: 1;
  }

  #text-container p {
    padding: 0.5vw 1vw;
    text-align: center;
  }

  #title {
    color: #fff;
    font-size: 9.5vh;
  }

  #text {
    margin: 3vw;
    background-color: #4f656f;
    box-shadow: 0.5em 0.5em #10212c;
    border-radius: 10px;
    align-self: center;
    vertical-align: middle;
    min-height: 10vh;
    width: 50vw;
    align-items: center;
    font-size: 3vh;
  }
}

@media only screen and (max-width: 850px) {
  html,
  body {
    background-color: #172a3a;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff;
  }

  #container {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
  }

  #main {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  #text-container {
    width: 100vw;
    background-color: #172a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #text-container p {
    padding: 0.5vw 1vw;
    text-align: center;
  }

  #title {
    color: #fff;
    font-size: 8.8vw;
    margin-bottom: 8vw;
  }

  #text {
    margin: 6vw;
    padding: 1.5vw;
    background-color: #4f656f;
    box-shadow: 0.5em 0.5em #10212c;
    border-radius: 10px;
    align-self: center;
    vertical-align: middle;
    min-height: 10vh;
    width: 80vw;
    align-items: center;
    font-size: 6vw;
  }
}

p a {
  color: #fff;
}

p a:hover {
  color: #7c3626;
}
