@media only screen and (min-width: 950px) {
  html,
  body {
    background-color: #172a3a;
    background-image: url("../media/in-page-images/bg-pattern.png");
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff;
  }

  #container {
    display: flex;
    flex-direction: row;
  }

  #main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
  }

  #title {
    color: #fff;
    font-size: 6vh;
    transform: translateX(5vh);
  }

  #button-container {
    max-height: 15vh;
    width: 94%;
    transform: translateX(5vh);
    padding: 0.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #button-container button,
  input[type="submit"] {
    background-color: #698996;
    border: 5vh;
    border-radius: 30px;
    min-width: 18%;
    color: #fff;
    font-size: 2.5vh;
    box-shadow: 0.35em 0.35em #10212c;
    cursor: pointer;
  }

  #image-container {
    min-height: 65vh;
    width: 94%;
    transform: translateX(5vh);
    padding: 0.8%;
  }

  #image-container img {
    max-height: 50%;
    max-width: 50%;
    box-shadow: 0.35em 0.35em #10212c;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 950px) {
  html,
  body {
    background-color: #172a3a;
    background-image: url("../media/in-page-images/bg-pattern.png");
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff;
  }

  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
  }

  #main {
    height: 100vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  #title {
    color: #fff;
    font-size: 5vh;
    max-height: 10vh;
    transform: translateY(-3vh);
  }

  #button-container {
    max-height: 12vh;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #button-container button,
  input[type="submit"] {
    background-color: #698996;
    border: 5vh;
    border-radius: 30px;
    min-width: 18%;
    color: #fff;
    font-size: 65%;
    box-shadow: 0.35em 0.35em #10212c;
    cursor: pointer;
  }

  #image-container {
    min-height: 55vh;
    width: 100%;
    padding: 0.8%;
  }

  #image-container img {
    max-height: 35%;
    max-width: 35%;
    box-shadow: 0.35em 0.35em #10212c;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

#button-container button:hover,
input[type="submit"]:hover {
  color: #7c3626;
  background-color: #fdb833;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#image-container img {
  transition: transform 0.5s;
  transition: 0.3s;
}

#image-container img:hover {
  transform: scale(1.25, 1.25);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  flex-direction: column;
  justify-content: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

input[type="submit"] {
  height: 5vh;
  margin-bottom: 2vh;
}

.filter {
  display: flex;
  align-self: start;
  margin: 0.5vh 30vw
}